<h1>Welcome</h1>
<div>
	<div class="span6 offset3">
		<form action="/signup" method="post" >
			<h3>Register a new user</h3>
			<label>Username:</label>
			<input type="text" name="username"></br>
			<label>Password: </label>
			<input type="password" name="password"></br>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>